
@mixin bigTitle($ffamily, $color) {
    width: 890px;
    text-align: center;
    font-family: $ffamily;
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 400;
    color: $color;
    line-height: 66px;
    margin: 0 auto;
}

@mixin infTitle($ffamily, $color, $fontSize, $fontWeight) {
    font-family: $ffamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $color;
}