@import url(https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200;300;400;500;800&display=swap);

$font-primary: 'Anton', sans-serif;
$font-secondary: 'Manrope', sans-serif;

// colors

$main-title-color: #FFD15B;
$secondary-text-color : #1B1B1B;
$primary-text-color: #FFF;
$input-text-color: #7A7A7A;
