@use "../abstracts/" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: $font-secondary;
    line-height: 1.5;
    background-color: #EDEDED;
}

h1 {
    @include bigTitle($font-primary, $main-title-color);
}